@media screen and (max-width: 768px) {
    .botao {
        display: block;
        position: center;
    }
}

* {
    margin: 0;
    padding: 0;
}

.rodape{
    background-color: #6528F7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
}
.calculadora {
    background-color: #6528F7;
    height: 100vh;
    color: #EDE4FF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.operadores {
    position: absolute;
    background-color: rgb(0, 2, 15, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #EDE4FF;
}

.botao:hover {
    background-color: gray;
}

#igual {
    height: 166px;
}

#zero {
    width: 106px;
}

#resultado {
    width: 208px;
    height: 30px;
    background-color: #EDE4FF;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}